:root{
    --color-active: 	#005AB5;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f5f5f5;
    padding-top: 20px;
}
.input-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

fieldset {
    border: 1px solid black;
}

.titles {
    margin-top: 5px; /* 增加間距 */
    /* font-weight: bold; */
}
.video-container {
    display: grid;
    margin: 0 auto;
    position: relative;
}
.radio-container {
    width: 18px;
    height: 18px;
}
.navigation-container {
    display: flex;
    justify-content: center; /* 讓內容置中 */
    align-items: center;
    width: 100%;
    margin-top: 20px; /* 增加一點留白 */
}
#prev_button {
    position: absolute;
    left: 0; /* 與 fieldset 的左邊界對齊 */
    bottom: 10px; /* 調整垂直位置 */
    background-color: black;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
#next_button {
    position: absolute;
    right: 0; /* 與 fieldset 的右邊界對齊 */
    bottom: 10px; /* 調整垂直位置 */
    background-color: black;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
#num_page {
    font-size: 18px;
    font-weight: bold;
}
.video-row {
    display: flex;
    justify-content: center; /* 讓內容置中 */
    gap: 20px; /* 影片之間的間距 */
}

/* check style */
.check-group{
    input[type="checkbox"], input[type="radio"]{
        display: none;
        + label{
            vertical-align: middle;
        }
        + .btn-check{
            position: relative;
            display: inline-block;
            width: 0.9rem;
            height: 0.9rem;
            border: 2px solid #ccc;
            border-radius: .25rem;
            background-color: #eee;
            background-size: 60%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
        &:checked + .btn-check{
            background-color: var(--color-active);
            background-image: url(https://im1010ioio.github.io/super-easy-css/59/check-mark.svg);
            border-color: var(--color-active);
        }
    }
    input[type="radio"] + .btn-check{
        border-radius: 50%;
    }
}

/* hover and other style */
.check-group{
    display: inline-block;
    .btn-check, .text-check{
        cursor: pointer;
        transition: .3s;
    }
    &:hover {
        input[type="checkbox"], input[type="radio"]{
            + .btn-check{
                border-color: var(--color-active);
            }
            + .text-check{
                color: var(--color-active);
            }
        }
    }
}